<div class="card">
    <div class="card-header">
        <div class="float-left">
            <h4>Opções</h4>
        </div>
        <div class="float-right">
            <!-- <a class="btn btn-secondary" href="cadastro">Cadastro</a> -->
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                  <tr><app-filtro-tabela
                    (BuscarEvento)="buscar($event)"
                    ></app-filtro-tabela></tr>
                    <tr>
                        <th>Actions</th>
                        <th>Ticker</th>
                        <th>Strike</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let opcao of opcoes">
                    <td>
                        <span class="float-center">
                            <button class="btn btn-outline-primary mb-1 btn-sm" (click)="onEdit(opcao)"> +
                            </button>
                        </span>
                    </td>

                    <td>{{ opcao.SERIE }}</td>
                    <td>{{ opcao.STRIKE }} </td>
                    <td>{{ opcao.PREMIO }}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
