<body>

  <app-cabecalho></app-cabecalho>

  <table class="linha content-fluid">

    <tr class="linha">

      <td class="carteiras">
        <div>

          <app-lista-carteiras (GetCarteira)="editarCarteira($event)" [carteiras]="carteiras"></app-lista-carteiras>

        </div>
      </td>
      <td>

        <app-intervalo-precos-card class="intervalo" [(intervalo)]="intervalo" (simularGrafico)="simular($event)"></app-intervalo-precos-card>

        <div class="grafico">
          <app-simulador [data]="data"></app-simulador>
        </div>

      </td>
      <td class="operacoes">

        <div >
          <app-lista-operacoes [carteira]="carteiraAtiva"
            (SetOperacoes)="setOperacoes($event)"></app-lista-operacoes>
        </div>

      </td>

    </tr>

  </table>
  <div class="tabela">
    <app-tabela-opcoes (adicionarOperacao)="adicionarOperacao($event)"></app-tabela-opcoes>
  </div>

</body>
