<body>

  <app-cabecalho></app-cabecalho>

  <div class="content-fluid">
    <app-intervalo-precos-card></app-intervalo-precos-card>
    <td>
      <div>

        <app-lista-carteiras style="float: left;" (GetCarteira)="editarCarteira($event)" [carteiras]="carteiras"></app-lista-carteiras>

      </div>
    </td>
    <td>
      <div style="position: relative; margin-top: -180px;" >
        <app-simulador ></app-simulador>
      </div>
    </td>
    <td>
      <div>

        <app-lista-operacoes style="margin-top:5%; float: right;" [operacoes]="operacoes"></app-lista-operacoes>

      </div>
    </td>
  </div>

  <app-tabela-opcoes></app-tabela-opcoes>

</body>
