<div class="card">
  <div class="titulo-cartao card-header">
    <h4>{{ carteira.Nome }}</h4>
  </div>
  <div class="card-body lista-operacoes">
    <div *ngFor="let operacao of carteira.Operacoes" >
      <app-operacao-controller [StockTicker]="StockTicker" (atualizarCusto)="calcularCustoCarteira($event)"
        (removerOperacao)="removerOperacao($event)" [operacao]="operacao"></app-operacao-controller>
    </div>
  </div>
  <div class="card-footer">
    <label>R$ {{ carteira.Custo }}</label>
  </div>
</div>
