<div class="card lista">
  <div class="titulo-cartao card-header">
    <h4>Estratégias</h4>
  </div>
  <div class="card-body lista-carteiras">
    <div *ngFor="let carteira of carteiras">
      <app-carteira-item (RemoverCarteira)="removerCarteira($event)"
        (GetCarteira)="getCarteira($event)" [carteira]="carteira"></app-carteira-item>
    </div>
  </div>
  <div class="card-footer">
    <input class="campo-nome">
    <button class="btn btn-success adicionar-btn" >+</button>
  </div>
</div>
