<div class="op-item">
  <div class="card h-100">
    <div class="card-body">
      <label class="card-title">{{ cvtOpcao(operacao.Ativo).Ticker }}</label>
      <button class="btn btn-danger remover" (click)="onClickRemover($event)">x</button>
      <br>
      <label>Strike: R$ {{ cvtOpcao(operacao.Ativo).Strike }}</label>
      <br>
      <label>Preço: R$ {{ operacao.Preco }}</label>
    </div>

    <div class="card-footer">
      <button class="btn btn-danger menos" (click)="onClickMenos()">-</button>
      <label class="qtd">{{ operacao.Quantidade.toString() }}</label>
      <button class="btn btn-success mais" (click)="onClickMais()">+</button>
    </div>
  </div>
</div>
