.menos{
  float: left;
  text-align: center;
  width: 40px;
  font-size: 18px;
  border-radius: 10px;
}

.op-item{
  width: 300px;
  margin-left: 50%;
}

.remover{
  float: right;
  text-align: center;
  width: 40px;
  font-size: 18px;
  border-radius: 10px;
}

.card-footer{
  text-align: center;
}

.mais{
  float: right;
  text-align: center;
  width: 40px;
  font-size: 18px;
  border-radius: 10px;
}
