.campo-nome{
  width: 150px;
}

.remover{
  float: right;
  text-align: center;
  margin-top: 5.2%;
  width: 40px;
  font-size: 18px;
  border-radius: 10px;
}

.editar-btn{
  margin-top: 10px;
}

.op-item{
  width: 300px;
  margin-bottom: 15%;
}
