.campo-nome{
  width: 200px;
}

.remover{
  float: right;
  text-align: center;
  margin-top: -4px;
  width: 40px;
  font-size: 18px;
  border-radius: 10px;
}

.editar-btn{
  margin-top: 10px;
}

.op-item{
  width: 300px;
}
