<div class="content-fluid">
    <td>
        <select (change)="this.filtro.ticker = $event.target.value">
            <option *ngFor="let option of listaTickers" name="tickers" >{{option}}</option>
        </select>
    </td>
    <td>
        <select (change)="this.filtro.tipo = $event.target.value">
            <option *ngFor="let option of listaTipos" name="tipos">{{option}}</option>
        </select>
    </td>
    <td>
        <select (change)="this.filtro.vencimento = $event.target.value">
            <option *ngFor="let option of listaVencimentos" name="vencimentos">{{option}}</option>
        </select>
    </td>
    <td>
      <button class="btn btn-primary" (click)="buscar($event)">Buscar</button>
  </td>
</div>
