<div class="content-fluid" style="margin-left: 0%;">
  <div class="card h-100">
    <div class="card-header">
      <h4 class="card-title titulo">Intervalo de Preços</h4>
    </div>
    <div class="card-body">
      <label class="hint">Mínimo: </label>
      <input class="campo-intervalo" [(ngModel)]="intervalo.Min" name="Mínimo">
      <label class="hint">Máximo: </label>
      <input class="campo-intervalo" [(ngModel)]="intervalo.Max" name="Máximo">
      <label class="hint">Passo: </label>
      <input class="campo-intervalo" [(ngModel)]="intervalo.Step" name="Passo">
      <button class="btn btn-primary hint" (click)="simulate($event)">Simular</button>
    </div>
  </div>
</div>
